<div class="bground mat-app-background">
<app-hr [title]="langService.getTag('about',language)"></app-hr>

<p class="lead">
    Apasionado de las tecnologías web y el desarrollo de aplicaciones que aporten algo. En el año 2006 fundé la empresa de venta de material deportivo <a href="https://www.portear.com" target="_blank" color="accent">portear.com</a> y en el 2008 <a href="https://www.somosaventura.com" target="_blank">somosaventura.com</a>, empresa dedicada a la comercialización y realización de actividades de aventura en el río Mijares.
</p>
<div class="d-flex flex-wrap">
    <div class="d-flex flex-column skills">
        <p>
                Me considero una persona cretiva, emprendedora , con iniciativa y ganas de seguir aprendiendo. La cohesión y el buen funcionamiento de los equipos es muy importante para mí, tanto en aquellos que he liderado como en los que he colaborado. 
        </p>
        <div class="d-flex flex-column">    
                JAVASCRIPT<br/>
                <mat-progress-bar mode="determinate" value="75" color="accent"></mat-progress-bar>
                ANGULAR<br/>
                <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
                NODE<br/>
                <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
                MONGODB<br/>
                <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
                PHP<br/>
                <mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar>
                MYSQL<br/>
                <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
            </div>
    </div>    
    <img src="../../assets/javi-by-carlos.png" height="200" >
</div>
</div>