
<app-hr [title]="langService.getTag('about',language)" id="about"></app-hr>
<p class="lead">
    Apasionado de las tecnologías web y el desarrollo de aplicaciones que aporten algo. En el año 2006 fundé la empresa de venta de material deportivo <a href="https://www.portear.com" target="_blank" color="accent">portear.com</a>. En el 2008 <a href="https://www.somosaventura.com" target="_blank">somosaventura.com</a>, empresa dedicada a la comercialización y realización de actividades de aventura en el río Mijares.
</p>
<div class="d-flex flex-wrap">
    <div class="d-flex flex-column skills">
        <p>
            De personalidad creativa, emprendedora, con iniciativa y ganas de seguir aprendiendo. La cohesión y el buen funcionamiento de los equipos es primordial  para mí, tanto en aquellos que he liderado como en los que he colaborado. 
        </p>
        <p>
            Me gustan los retos que requieran esfuerzo, mi curva de aprendizaje es pronunciada cuando se trata de adquirir nuevas habilidades y conocimientos. Metódico y a la vez flexible, exigente en el día a día me adapto con facilidad a entornos cambiantes.
        </p>
        <h3>Titulación reglada</h3>
        <ul>
            <li>FP II. Técnico especialista en informática - Septiembre 1996 / Julio 2004. IES Consellería.</li>
            <li>Grado superior. Técnico especialista en telecomunicaciones e informática - Septiembre 2006 / Marzo 2008. IES Federica Montseny.</li>
            <li>Examen B2 inglés. Cambridge University</li>            
        </ul>
        <h3>Cursos</h3>
        <ul>
            <li>Curso programación online Freecodecamp modalidad Legacy - Junio 2017 - Noviembre 2018.</li>
            <li>Grado superior. Técnico especialista en telecomunicaciones e informática - Septiembre 2006 / Marzo 2008. IES Federica Montseny.</li>
            <li>Examen B2 inglés. Cambridge University</li>            
        </ul>
        <div class="d-flex flex-column">    
                JAVASCRIPT<br/>
                <mat-progress-bar mode="determinate" value="75" color="accent"></mat-progress-bar>
                ANGULAR<br/>
                <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
                NODE / EXPRESS<br/>
                <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
                MONGODB<br/>
                <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
                CSS<br/>
                <mat-progress-bar mode="determinate" value="45" color="accent"></mat-progress-bar>
                PHP<br/>
                <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
                MYSQL<br/>
                <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
                JAVA / ANDROID<br/>
                <mat-progress-bar mode="determinate" value="35" color="accent"></mat-progress-bar>
        </div>        
    </div>    
    <img src="../../assets/javi-by-carlos.png" height="200" >
</div>
