  <mat-toolbar color="primary">
    <img src="../../assets/javier.jpeg">    
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div class="m-button-row">
      <button mat-button color="link">Trabajos</button>    
      <button mat-button>Sobre mí</button>    
      <button mat-button>Contacto</button>                    
    </div>
    <button mat-mini-fab style="background: rgb(233, 30, 99);" (click)="toggleDarkTheme(false)"></button>       
    <button mat-mini-fab style="background: rgb(63, 81, 181);" (click)="toggleDarkTheme(true)"></button>  
  </mat-toolbar>

  