<mat-toolbar color="primary" *ngIf="language">
  <mat-toolbar-row>  
  <div class="m-button-row" appNavbarMenu minWidth="480">
    <button mat-button (click)="scrollToComponent('portfolio')"><mat-icon>insert_drive_file</mat-icon> {{langService.getTag('portfolio',language,'capitalize')}}</button>    
    <button mat-button (click)="scrollToComponent('about')"><mat-icon>face</mat-icon> {{langService.getTag('about',language,'capitalize')}}</button>    
    <button mat-button (click)="scrollToComponent('experience')"><mat-icon>timeline</mat-icon> {{langService.getTag('experience',language,'capitalize')}}</button>        
    <button mat-button (click)="scrollToComponent('education')"><mat-icon>book</mat-icon> {{langService.getTag('education',language,'capitalize')}}</button>
    <button mat-button (click)="scrollToComponent('contact')"><mat-icon>email</mat-icon> {{langService.getTag('contact',language,'capitalize')}}</button>                     
  </div>    

  <button mat-icon-button [matMenuTriggerFor]="menu" appNavbarMenu maxWidth="479">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="scrollToComponent('portfolio')">
      <mat-icon>insert_drive_file</mat-icon>
      <span>{{langService.getTag('portfolio',language,'capitalize')}}</span>
    </button>    
    <button mat-menu-item (click)="scrollToComponent('about')">
      <mat-icon>face</mat-icon>
      <span>{{langService.getTag('about',language,'capitalize')}}</span>
    </button>
    <button mat-menu-item (click)="scrollToComponent('experience')">
        <mat-icon>timeline</mat-icon>
        <span>{{langService.getTag('experience',language,'capitalize')}}</span>
    </button>
    <button mat-menu-item (click)="scrollToComponent('education')">
      <mat-icon>book</mat-icon>
      <span>{{langService.getTag('education',language,'capitalize')}}</span>
    </button>
    <button mat-menu-item (click)="scrollToComponent('contact')">
      <mat-icon>email</mat-icon>
      <span>{{langService.getTag('contact',language,'capitalize')}}</span>
    </button>
  </mat-menu>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span> 
  <mat-slide-toggle
          class="slide-toggle"
          color="primary"          
          (change)="setLanguage($event.checked)">
        ENG
  </mat-slide-toggle>
  <img src="../../assets/javier.jpeg" class="img-bio">      
  <div class="d-flex flex-column">
    <button mat-mini-fab style="background-color: #263238" (click)="toggleDarkTheme(true)"></button>       
    <button mat-mini-fab style="background-color: #eceff1" (click)="toggleDarkTheme(false)"></button>  
  </div>  
</mat-toolbar-row>
</mat-toolbar>          

