
.mat-toolbar{
    /*box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);*/
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    margin-bottom: 0.5em;
    img{
        height: 45px;
        border-radius: 25%;    
        border: 3px solid;
        margin-right: 0.5em;
    }
    .fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
    }
    .m-button-row {
      margin-right: 3px;
    }

    button:first-letter {
        text-transform: uppercase;
    }    
    .mat-mini-fab{
        height: 15px;
        width: 15px;
        margin-bottom: 3px;
    }
    .slide-toggle{
        font-size: 0.6em;
        margin-right: 1em;
    }
}

.mat-menu-item{
    text-transform: uppercase;
}



