<app-hr [title]="langService.getTag('education',language,'')" id="education"></app-hr>
<mat-expansion-panel class="my-panel" *ngFor="let degree of degrees">
  <mat-expansion-panel-header>
      <mat-panel-title>
          <strong>{{ degree.name[0].text}} - {{degree.school}}</strong>           
      </mat-panel-title>
      <mat-panel-description>
          <strong>{{degree.period[0].text}}</strong>
      </mat-panel-description>
  </mat-expansion-panel-header>    
  <p [innerHTML]="degree.description[0].text"></p>        
</mat-expansion-panel>