<app-hr [title]="langService.getTag('contact',language,'')" id="contact"></app-hr>
<form [formGroup]="contactForm" (ngSubmit)="sendForm()">
    <mat-form-field class="mid-width">
        <input matInput formControlName="firstname" class="form-control" placeholder="{{langService.getTag('your',language,'capitalize') +' '+langService.getTag('firstname',language,'')}}">
    </mat-form-field>
    <mat-form-field class="mid-width">
        <input matInput formControlName="lastname" class="form-control" placeholder="{{langService.getTag('your',language,'capitalize') +' '+langService.getTag('lastname',language,'')}}">
    </mat-form-field>
    <mat-form-field class="mid-width">
        <input matInput formControlName="email" class="form-control" placeholder="{{langService.getTag('your',language,'capitalize')}} email">
    </mat-form-field>
    <mat-form-field class="mid-width">
        <input matInput formControlName="phone" class="form-control" placeholder="{{langService.getTag('your',language,'capitalize') +' '+langService.getTag('phone',language,'')}}">
    </mat-form-field>
    <mat-form-field class="full-width message">
        <textarea matInput formControlName="message" class="form-control" placeholder="{{langService.getTag('messageForMe',language,'capitalize')}}"></textarea>
    </mat-form-field>
    <button mat-button color="accent" 
        [disabled]="!contactForm.valid">{{langService.getTag('send',language,'capitalize')}}</button>
</form>
