
@import '~@angular/material/theming';

.type{
  display: flex;    
  flex-wrap: wrap;
  align-content: center;
  margin: 1em;  
  h3{    
    text-transform: capitalize; 
    width: 85px;    
    color: $dark-secondary-text;
  }  
  hr{
    margin-left: 1em;
    margin-right: 1em;
  }
}

.mat-chip-list{
  display: flex;
  align-content: center;
}

li{
  text-transform: capitalize;
  font-size: 0.9em;
  list-style: none;  
}

.container{    
    display: flex;             
    flex-direction: row;;    
    flex-wrap: wrap;
    margin: 1em;  
    justify-content: flex-start;
    .portfolio-card{
      width: 46%;
      margin: 0.5em;

      .card-header-image{
        background-size: cover;
      }     
      strong{
        text-transform: capitalize;
      }
    }      
    
  }

  

  
  