<app-hr></app-hr>
<div class="type">
   <h4 [ngClass]="{'dark-text-color': isDarkTheme | async}">{{langService.getTag('project',language)}}</h4>          
   
   <mat-chip-list multiple>     
      <mat-chip *ngFor="let type of types;let i = index" 
        (click)="filterByType(i)"
        [selected]="type.selected"
        [color]="type.color">
        {{type.name}}
      </mat-chip>                
    </mat-chip-list>      
</div>
<div class="type">
  <h4 [ngClass]="{'dark-text-color': isDarkTheme | async}">{{langService.getTag('technology',language)}}</h4> 
  
  <div class="technologies">
    <mat-chip-list multiple>     
      <mat-chip *ngFor="let technology of technologies;let i = index" 
        (click)="filterByTechnology(i)"
        [selected]="technology.selected"
        [color]="technology.color">
        {{technology.name}}
      </mat-chip>                
    </mat-chip-list>  
  </div>
</div>     
<div class="container" *ngIf="projects">      
    <mat-card class="portfolio-card" *ngFor="let project of projects" appHighlight> 
      <mat-card-title-group>          
          <mat-card-title>{{project.name[0].text}}</mat-card-title>
          <mat-card-subtitle>
              <strong>{{langService.getTag('project',language)}}</strong>: {{project.types.join(', ')}}<br/>
              <strong>{{langService.getTag('technologies',language)}}</strong>: {{project.technologies.join(', ')}}
          </mat-card-subtitle>
      </mat-card-title-group>              
      <div class="open_project">
          <mat-icon color="primary">zoom_in</mat-icon> 
      </div>
    </mat-card>    
</div>

