
@import '~@angular/material/theming';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	box-sizing: border-box; 
}

.type{
  display: flex;      
  align-content: center;
  margin: 0.5em;  
  h4{    
    text-transform: capitalize; 
    width: 70px;    
    color: $dark-secondary-text;
  }    
  .technologies{
    display: flex;
    flex-wrap: wrap;
  }
}

.mat-chip-list{
  display: flex;
  align-content: center;
  margin-left: 1em;  
  .mat-chip{
    font-size: 0.8em;
  }
}

li{
  text-transform: capitalize;
  font-size: 0.9em;
  list-style: none;  
}

.container{    
    display: flex;                 
    flex-wrap: wrap;    
    margin: 0.5em;
    justify-content: flex-start;
    .portfolio-card{      
      background-color: $dark-secondary-text;      

      .card-header-image{
        background-size: cover;
      }     
      strong{
        text-transform: capitalize;
      }    
    }  
    /*
    .portfolio-card:nth-of-type(3n){
      margin-right: 0;
    }  
    .portfolio-card:nth-of-type(3n+1){
      margin-left: 0;
    } 
    */   
  }  

    
    
  .open_project{        
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;	  
    z-index: 100;     
    background-color: $light-secondary-text;
    
    .mat-icon{
      font-size: 2em;
    }
  }




// Small devices (landscape phones, 576px and up)
@media (min-width: 320px){ 
  .container{
    .portfolio-card{
      width: 100%;
      margin: 0 0 1% 0;      
    }
  }  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 576px ) { 
  .container{
    .portfolio-card{
      width: 48%;            
      margin: 1%;                
    }
  }  
}

@media (min-width: 768px) { 
  .container{
    .portfolio-card{
      width: 32%;
      margin: 1%;            
    }
    .portfolio-card:nth-of-type(3n){
      margin-right: 0;
    }  
    .portfolio-card:nth-of-type(3n+1){
      margin-left: 0;
    } 
  }  
}

    
    

      



  

  
  