<app-hr></app-hr>
<div class="type">
   <h3 [ngClass]="{'dark-text-color': isDarkTheme | async}">{{langService.getTag('project',language)}}</h3>          
   <hr/>
   <mat-chip-list multiple>     
      <mat-chip *ngFor="let type of types;let i = index" 
        (click)="filterByType(i)"
        [selected]="type.selected"
        [color]="type.color">
        {{type.name}}
      </mat-chip>                
    </mat-chip-list>      
</div>
<div class="type">
  <h3 [ngClass]="{'dark-text-color': isDarkTheme | async}">{{langService.getTag('technology',language)}}</h3> 
  <hr/>
  <mat-chip-list multiple>     
    <mat-chip *ngFor="let technology of technologies;let i = index" 
      (click)="filterByTechnology(i)"
      [selected]="technology.selected"
      [color]="technology.color">
      {{technology.name}}
    </mat-chip>                
  </mat-chip-list>  
</div>     
<div class="container" *ngIf="projects"> 
  
  <div class="brick" *ngFor="let project of projects">
    <mat-card class="example-card" >      
      <mat-card-content>        
        <h4>{{project.name[0].text}}</h4>
        <span class="center"><img src="../assets/{{project._id}}.png"></span>
        <li><strong>{{langService.getTag('project',language)}}</strong>: {{project.types}}</li>
        <li><strong>{{langService.getTag('technologies',language)}}</strong>: {{project.technologies}}</li>        
      </mat-card-content>      
    </mat-card>  
  </div>  
</div>

