
@import '~@angular/material/theming';

.type{
  display: flex;    
  flex-wrap: wrap;
  align-content: center;
  margin: 1em;  
  h3{    
    text-transform: capitalize; 
    width: 85px;    
    color: $dark-secondary-text;
  }  
  hr{
    margin-left: 1em;
    margin-right: 1em;
  }
}

.mat-chip-list{
  display: flex;
  align-content: center;
}

li{
  text-transform: capitalize;
  font-size: 0.9em;
  list-style: none;  
}

.container{    
    display: flex;             
    flex-direction: row;   
    flex-wrap: wrap;    
    justify-content: space-evenly;
    .portfolio-card{      
      margin: 1em; 
      flex: 0 1 25%;
      .card-header-image{
        background-size: cover;
      }     
      strong{
        text-transform: capitalize;
      }
    }          
  }

/* Small screens */
@media all and (max-width: 674px) {
  .container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    .portfolio-card{
      flex: 0 1 100%;
    }
  }
}

  

  
  