
@import '~@angular/material/theming';

.hr-theme {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  .hr-line {
    width: 20%;    
    margin: 0.8em;
    border-bottom: 5px solid ;
    border-color: $dark-secondary-text;
  }
  .hr-icon {    
    position: relative;
    top: 6px;
    color: $dark-secondary-text;    
  }
  .dark-text-border{
    border-color: $light-primary-text !important;
  }
  .dark-icon{
    color: $light-primary-text !important;
  }
  i{
    font-size: 2.5em;
  }  
  h1{    
    width: 100%;   
    display: flex;
    justify-content: center;
    margin: 0em;
  }

}

